.header__link {
  font-family:  'Helvetica Neue', 'Arial', sans-serif;
  color:  #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
}

.header__link:hover {
  opacity: 0.5;
}
